script src="//checkout.stripe.com/checkout.js"

= form_for @instance, url: {action: "create"}, html: {class: 'form-horizontal', role: 'form', id: 'new-instance-form' } do |f|
  .form-group
    = f.label :hostname, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :name, class: "form-control", autofocus: true
  .form-group
      = f.label :plan, class: "col-sm-2 control-label"
      .col-sm-6
        - for plan in @plans
          .radio
            label
              = radio_button_tag 'plan', plan.id, checked = (plan.id == @plan.id)
              strong = plan.name
              = ": " + plan.metadata['Memory'] + " Memory, "
              = plan.metadata['Processor'] + " Processor, "
              = plan.metadata['Storage'] + " Storage and "
              = plan.metadata['Bandwidth'] + " Bandwidth"
  .form-group
      = f.label :region, class: "col-sm-2 control-label"
      .col-sm-6
        - for region in @regions
          .radio
            label
              = radio_button_tag 'region', region.slug
              strong = region.name
  .form-group
    .col-sm-offset-2.col-sm-10
      button#checkout.btn.btn-primary type="submit"  New Instance

javascript:
  var handler = StripeCheckout.configure({
    key: '#{{Rails.application.secrets.stripe_publishable_key}}',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      var form = $('#new-instance-form');
      form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
      form.submit();
    }
  });

  $('#new-instance-form').bootstrapValidator({
    fields: {
      'instance[name]': {
        validators: {
          notEmpty: {
            message: 'The hostname is required.'
          }
        }
      },
      plan: {
        validators: {
          notEmpty: {
            message: 'Please select a plan.'
          }
        }
      },
      region: {
        validators: {
          notEmpty: {
            message: 'Please select a region.'
          }
        }
      }
    }
  }).on('success.form.bv', function(e) {
    e.preventDefault();

    var handler = StripeCheckout.configure({
      key: '#{{Rails.application.secrets.stripe_publishable_key}}',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        var form = $(e.target);
        var bv = form.data('bootstrapValidator');
        form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
        bv.defaultSubmit();
      }
    });

    handler.open({
      name: 'SpacialDB UG',
      currency: 'EUR',
      description: '2 widgets',
      email: '#{{current_user.email}}',
      amount: 2000
    });
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
