.jumbotron {
  text-align: center;
  background-color: transparent;
}

.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
  li {
    padding: 10px 15px;
    color: #ccc;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
    &.plan-price {
      border-top: 0;
    }
    &.plan-name {
      border-radius: 6px 6px 0 0;
      padding: 15px;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      background: #e74c3c;
      margin-bottom: 30px;
      border-top: 0;
    }
    > strong {
      color: #e74c3c;
    }
    &.plan-action {
      margin-top: 10px;
      border-top: 0;
    }
  }
  &.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    li.plan-name {
      background: #000;
    }
  }
}
