.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  > {
    li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .active > a {
      color: #fff;
      background-color: #428bca;
      &:hover, &:focus {
        color: #fff;
        background-color: #428bca;
      }
    }
  }
}
